@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
}

.row>* {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

:root {
	--body-font-family: font-family: 'Futura Md BT';
	--e-global-color-white: #fff;
	--e-global-color-black: #000;
	--e-global-color-orange: #ff9e00;
	--e-global-color-light-green: #00faff;
	--e-global-color-offwhite: #FAF9F6;
	--e-global-color-dark-green: #002d2f
}

img {
	max-width: 100%;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a, a:hover {
	text-decoration: none;
	color: var(--e-global-color-white);
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
	max-width: calc(100% - 18rem);
}

body {
	font-size: 1.6rem;
	line-height: normal;
	font-weight: 400;
	color: var(--e-global-color-white);
	font-family:var(--body-font-family);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #000;
	
}

.section {
	position: relative;
	clear: both;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.dark_green_bg {
	background: var(--e-global-color-dark-green);
	padding: 1rem;
}


.bwa_main_sec {
	width: 100%;
	height: 100%;
	padding: 2.6rem 0px;
}

.bwa_main_box {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	column-gap: 27px;
	row-gap: .9rem;
	padding: 0px 26px;
}

.bwa_box_wrap {
	/* height: 283px; */
}

/* .bwa_box_wrap:nth-child(3n + 2) {
	width: 40%;
} */

.bwa_box_inside {
	width: 100%;
}

.bwa_box_inside h3 {
	font-size: 32px;
	font-weight: 700;
	color: var(--e-global-color-orange);
	padding: 4px;
	z-index: 3;
	position: relative;
}

.bwa_box_wrap:nth-child(3n + 2) .bwa_box_inside h3 {
	color: var(--e-global-color-light-green);
}

.bwa_widget_box {
	width: 100%;
	height: 238px;
	font-size: 1.6rem;
	line-height: 160%;
	/* border-radius: 1rem; */
	/* border: solid .1rem var(--e-global-color-offwhite); */
	overflow: hidden;
	position: relative;
}

.widget_part .bwa_box_inside {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* .widget_part .bwa_widget_box {
	width: 48%;
} */

.tricker_news {
	padding: 0.92rem 7rem;
	text-align: center;
	font-size: 20px;
	z-index: 3;
	position: relative;
}

.tricker_news span {
	margin: 0 .5rem;
	color: var(--e-global-color-light-green);
}

.tricker_news span:nth-child(even) {
	color: var(--e-global-color-orange);
}

.tricker_news_footer {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 3;
}

.bwa_box_inside_split {
	column-gap: 22px;
	display: flex;
}

.bwa_widget_box_split {
	width: 348px;
}

.bwa_box_wrap_edge {
	width: 548px;
}

.bwa_box_wrap_center {
	width: 718px;
}

.bwa_widget_box_bottom {
	height: 287px !important;
}

.background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	background-image: url('../images/snarky-charts-bwa-001.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	pointer-events: none;
}

.rumble-logo {
	width: 75px;
	z-index: 10;
	position: fixed;
	bottom: 0;
}

.logo-box {
	position: fixed;
	top: 1rem;
	z-index: 5;
	right: 2.6rem;
	width: 75px;
}

.spotify_bg {
	background-color: #282828;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Animation */

.bwa_widget_box {
	perspective: 100%;
}

.bwa_widget_box .animate-flip {
	transform: rotateY(0deg);
	animation: rotateAnimation 1s ease-in-out;
}

@keyframes rotateAnimation {
	from {transform: rotateY(180deg);}
	to {transform: rotateY(360deg);}
}

.bwa_widget_box .animate-slide-right {
	position: absolute;
	right: 0;
	width: 100%;
	animation: slideRightAnimation 1s ease-in-out;
}

@keyframes slideRightAnimation {
	0% {
		width: 100%;
	}
	50% {
		width: 0%
	}
	100% {
		width: 100%;
	}
}

.bwa_widget_box .animate-slide-left {
	position: absolute;
	left: 0;
	width: 100%;
	animation: slideLeftAnimation 1s ease-in-out;
}

@keyframes slideLeftAnimation {
	0% {
		width: 100%;
	}
	50% {
		width: 0%
	}
	100% {
		width: 100%;
	}
}

.bwa_widget_box .animate-fade {
	position: absolute;
	left: 0;
	width: 100%;
	animation: fadeAnimation 1s ease-in-out;
}

@keyframes fadeAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}