.animate-flip {
	transform: rotateY(0deg);
	animation: rotateAnimation 10s ease;
}

@keyframes rotateAnimation {
	from {transform: rotateY(180deg);}
	to {transform: rotateY(360deg);}
}

.animate-slide-right {
	position: absolute;
	right: 0;
	width: 100%;
	animation: slideRightAnimation 10s ease;
}

@keyframes slideRightAnimation {
	0% {
		width: 100%;
	}
	50% {
		width: 0%
	}
	100% {
		width: 100%;
	}
}

.animate-slide-left {
	position: absolute;
	left: 0;
	width: 100%;
	animation: slideLeftAnimation 10s ease;
}

@keyframes slideLeftAnimation {
	0% {
		width: 100%;
	}
	50% {
		width: 0%
	}
	100% {
		width: 100%;
	}
}

.animate-fade {
	position: absolute;
	left: 0;
	width: 100%;
	animation: fadeAnimation 10s ease;
}

@keyframes fadeAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

.bounce {
	animation: bounce2 2s ease infinite;
  }
  @keyframes bounce2 {
	  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	  40% {transform: translateY(-30px);}
	  60% {transform: translateY(-15px);}
  }

  .wobble {
	animation: wobble 2s ease infinite;
  }
  @keyframes wobble {
	0% { transform: translateX(0%); }
	15% { transform: translateX(-25%) rotate(-5deg); }
	30% { transform: translateX(20%) rotate(3deg); }
	45% { transform: translateX(-15%) rotate(-3deg); }
	60% { transform: translateX(10%) rotate(2deg); }
	75% { transform: translateX(-5%) rotate(-1deg); }
	100% { transform: translateX(0%); }
  }

  .flip {
	backface-visibility: visible !important;
	animation: flip 3s ease infinite;
}
@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}