.animate-flip {
	transform: rotateY(0deg);
	animation: rotateAnimation 1s ease-in-out;
}

@keyframes rotateAnimation {
	from {transform: rotateY(180deg);}
	to {transform: rotateY(360deg);}
}

.animate-slide-right {
	position: absolute;
	right: 0;
	width: 100%;
	animation: slideRightAnimation 1s ease-in-out;
}

@keyframes slideRightAnimation {
	0% {
		width: 100%;
	}
	50% {
		width: 0%
	}
	100% {
		width: 100%;
	}
}

.animate-slide-left {
	position: absolute;
	left: 0;
	width: 100%;
	animation: slideLeftAnimation 1s ease-in-out;
}

@keyframes slideLeftAnimation {
	0% {
		width: 100%;
	}
	50% {
		width: 0%
	}
	100% {
		width: 100%;
	}
}

.animate-fade {
	position: absolute;
	left: 0;
	width: 100%;
	animation: fadeAnimation 1s ease-in-out;
}

@keyframes fadeAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}